<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.mybatis.SampleMapper">
  <select id="select" resultType="app.mybatis.SampleData">
    select 1 AS value
  </select>

  <insert id="insertName" parameterType="java.lang.String">
    insert into test (name) values (#{value})
  </insert>
</mapper>